div.Octopus {

    width: 500px;
    min-width: 300px;

}

div.prices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}


/*div.Octopus > div.OctopusDayPrice {*/
/*    float: left;*/
/*}*/