.OctopusCard {
    text-align: center;
    margin-bottom: 10px;
}

.OctopusCard header.top {
    display: block;
}

.OctopusCard header.top > div {
    width: 48%;
    display: inline-block;
}

.OctopusCard .sub .time{
    text-align: right;
    width: 30%;
    display: inline-block;
    margin-right: 5px;
}

.OctopusCard .sub .prices {
    text-align: left;
    width: 30%;
    display: inline-block;
}