div.Weather {
    width: 500px;
    min-width: 300px;
}

div.Weather table img {
    display: inline-block;
    width: 50px;
    height: 50px;
}

div.Weather table tr td {
    border: none;
}

div.Weather table {
    border-collapse: collapse;
}
div.Weather table tr.now {
    border: black 3px solid;
}