.WeatherCard {
    margin-bottom: 10px;
}

.WeatherCard .MuiCardContent-root {
    padding: 5px;
}

.WeatherCard .subheading {
    text-align: center;
}

.WeatherCard footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.WeatherCard footer div.day {
    width: 80px;
    height: 80px;
    text-align: center;
}

.WeatherCard footer div.day .name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.WeatherCard footer div.day .forecastTemp,
.WeatherCard footer div.day .forecastTemp {
    line-height: normal;
}

.WeatherCard main span svg.logoLeft {
    position: relative;
    left: 20px;
    top: 15px;
}