.ErrorComponent div.errorHeader {
    text-align: center;
}

.ErrorComponent .errorImage {
    width: 500px;
    height: 500px;
}

.ErrorComponent main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.ErrorComponent main span.element {

}


